
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    height: 100vh; 
    width: 100%;
}


.main__inicio{
    display: grid;  
    grid-template-rows: 50% 50%;
    height: 100%; 
    width: 100%;
}

.section__inicio{  
    display: grid;
    justify-content: center;
    gap: 2em;
}

.div__alert{
    position: absolute;
    right: 20%;
    bottom: 15%;
}
.alert__float{    
    background-color: red;
    padding: 5px;
}

.imag__inicio{
  height: 100vh;
  width: 100%;
  background-image: url(img/dali.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}

.title__inicio{    
    display: grid;
    align-self: end;
    justify-content: center;
}

.p__inicio{
font-size: 2em;
}


.section__inicio__form{
    display: grid;
    align-self: start; 
    gap: 1em;
}

.input__inicio{
    font-size: 2em;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width:5px; 
    border-color:#a5e4c5 ;
    outline: none;
}

.div__boton{
    display: grid;
}

.boton__inicio{
    font-size: 1.5em;
    padding: 5px;
    text-align: center;
    border: 0;
    background-color: #dcfaeb;
    cursor: pointer;
}.boton__inicio:hover {
    background-color: #a5e4c5; 
    font-size: 1.52em;}

@media screen and (max-width: 900px) {
    .alert__float{   right: 40%;}
    .imag__inicio{   display: none;}
    .main__inicio{    grid-template-columns: 100%;}    
    .main__inicio{padding-top: 2em;}
    
}

@media screen and (max-width: 450px) {    
    .section__inicio{gap: 1em;}
    .p__inicio{font-size: 1.5em;}
    .boton__inicio{font-size: 1em;
            }.boton__inicio:hover {font-size: 1.2em;}
    .input__inicio{font-size: 1.5em;}
}