*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{list-style: none;}

a{text-decoration: none;}

.content__principal{
    display: grid;
    grid-template-columns: 25% 75%;
}

.header{
    display: grid;
    grid-template-rows: 25% 70%;
    height: 100vh;
    width: 100%;
    background: linear-gradient(225deg, #201f26, #25242d);
    border-right: 2px outset rgb(8, 6, 6);  
    
}

.logo-nav{
    align-self: center;
    justify-self: center;  

}


.logo-nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nav__ul{ 
    height: 100%;
    display: grid; 
    grid-template-rows: 25% 25% 25% 25%;
    
}

.nav__li{
    padding: 2rem;    
    justify-content: center;
    margin: 0;    
    color: gray;
    font-size: 1.5em;
}
.nav__li a{ 
    color: gray;
}

#ingresarDinero{
    font-size: 20px;
    background:#EC994B;
    color: #F1EEE9;
    padding: 15px;
    border-radius: 1.5em;
    cursor: pointer;
    padding-left: 40px;
    padding-right: 40px;
    }#ingresarDinero:hover {
        transition: all 0.3s ease 0s;
        background-color: #d37d2d; }

#comprarCripto{
    font-size: 20px;
    background:#F1EEE9;    
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 1.5em;
    cursor: pointer;
    }#comprarCripto:hover {
        transition: all 0.3s ease 0s;
        background-color: #73777B; }

#comprarCripto a{
    text-decoration: none;
    color: #EC994B;
}

.principal__main{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 20% 80%;
}

.nav-menu{
    background: linear-gradient(225deg, #201f26, #25242d);
    height: 100%;
    width: 100%;
    border-bottom: 2px outset rgb(8, 6, 6);   
    display: grid;
    grid-template-columns:100%;
   
}
.nav__icon{
    display: none;
}
.main_content{
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}

.balanceTotal{
    color: white;
}

.menu-icon div{
    width: 30px;
    height: 30px;
    border-radius: .2rem;
}

.bars__menu{
    display: none; 
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.bars__menu span{
    display: block;
    width: 100%;
    height: 2px;
    background: #9A00bf;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px,1px);
}
.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px;

}
.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px,2px);
}





.nav__top{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    align-items: center;
    padding: 2em;
}


.deposito{
    z-index: 99999;
    display: none; 
    position: absolute;
    width: 60%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%) ;
    border-radius: 30px;
    background: linear-gradient(225deg, #201f26, #25242d);
    box-shadow:  -20px 20px 60px #33333a,
    20px -20px 60px #45454e;
}
.activedeposito{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
}

#depos{
    background:  linear-gradient(225deg, #201f26, #25242d);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom-width:3px; 
    border-color:#EC994B ;
    outline: none; 
    font-size: 30px;
    text-align: center;
    color: #F1EEE9;
}#depos::placeholder { color:#58544c; }

.depCal{
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr ;
color: #F1EEE9;
font-size: 30px;
}
.hr{
    grid-column: 1 / 3;
    color:#EC994B;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
    border-top-width:3px; 
    border-color:#EC994B ;
}

.buttons{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

.realPed{
font-size: 20px;
background:#EC994B;
color: #F1EEE9;
padding: 15px;
border-radius: 1.5em;
cursor: pointer;
}.realPed:hover {
    transition: all 0.3s ease 0s;
    background-color: #d37d2d; }


.volPed{
    background: linear-gradient(225deg, #201f26, #25242d);
    border: 0;
    font-size: 20px;
    color: #d37d2d;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .bars__menu{
        display: block;
    }
    .content__principal{
    grid-template-columns: 100%
    }
    .header{        
        display: none;
    }
    .activeheader{
       position: fixed;
       display: grid;
       left: 0;
       width: 80%;
       justify-content: center;
    }
    .nav-menu{
        grid-template-columns: 90% 10%;
    }
    .nav__icon{
        display: grid;
        justify-content: center;
        align-items: center;
    }
}


