.usuario{
    padding: 1em;
    font-size: 1.5em;
}
.mercado p{
    font-size: 25px;
    padding: 15px;
}

#Cripto2 li{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    border-radius: 14px;
    background: linear-gradient(225deg, #201f26, #25242d);
    box-shadow:  -6px 6px 12px #222128,
                 6px -6px 12px #24232c;
    padding: 2em;
    color: white;
    margin: 10px;
}

 .monD{
    display: grid;
    grid-template-rows: 50% 50%;
 }
 .monN{
    color: red;
 }
 .monP{
    color: green;
 }

 .precio{
    display: grid;
    grid-template-columns: 50% 50%;
 }

#vermas{
   display: grid;
   justify-content: center;
   margin-bottom: 20px;
}
 
 .vermas{
   text-decoration: none;
   font-size: 20px;
   background:#EC994B;
   color: #F1EEE9;
   padding: 10px;
   padding-left: 25px;
   padding-right: 25px;
   border-radius: 1.5em;
   cursor: pointer;
   }.vermas:hover {
       transition: all 0.3s ease 0s;
       background-color: #d37d2d; }

.main_content{
display: grid;
gap: 1em;
}

 @media screen and (max-width: 820px) {

    .precio{
        grid-template-columns:0;
        grid-template-rows: 50% 50%;
     }
}